.Button {
  text-transform: uppercase;
  background: LightSkyBlue;
  border: none;
  border-radius: 8px;
  color: rgba(14, 71, 128, 1);
  font-size: 1em;
  padding: 15px;
  font-weight: 600;
  display: inline-block;
  width: 100%;
}

.Button__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
